<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tarefas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="tarefaShowPrompt()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let tarefa of tarefas; let i = index" (click)="itemTapped(i)">

      <ion-item>
        <ion-label [ngClass]="getLabelClass(tarefa.status)">{{ tarefa.descricao }}</ion-label>
        <ion-checkbox color="secondary" checked="{{tarefa.status}}"></ion-checkbox>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="itemRemove(i)">
          <ion-icon name="trash"></ion-icon>
          Remover
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>

