<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre nós</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>O desenvolvedor</h3>

  <p>
    Criado por @sgumz 😎
  </p>

</ion-content>
